<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RO守護永恆 - 刷珍稀曼陀羅計時器</title>
    <script src="./library/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="./library/moment.js"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./node_modules/sortablejs/Sortable.min.js"></script>
    <script src="./node_modules/vuedraggable/dist/vuedraggable.js"></script>
    <script src="./node_modules/file-saver/FileSaver.min.js"></script>
</head>

<body>
    <div id="app" class="container-fluid">
        <div class="main">
            <draggable v-model="bars" :options="draggableOptions">
                <transition-group name="list-complete">
                    <time-count-bar
                        v-for="bar in bars"
                        @get-now-event="getNowHandler(bar.id)"
                        @click.native="selectedBarId = bar.id" 
                        :is-focus="selectedBarId == bar.id"
                        :key="bar.id" 
                        :id="bar.id"
                        :line="bar.line"
                        @line-change="(line) => { bar.line = line }"
                        :death-time="bar.deathTime"
                        @death-time-change="(deathTime) => { deathTimeChangeHandler(bar, deathTime) }"
                        :rebirth-time="bar.rebirthTime"
                        @rebirth-time-change="(rebirthTime) => { rebirthTimeChangeHandler(bar, rebirthTime) }"
                        :is-highlight-rebirth-time="highlightRebirthTimeBarId == bar.id"
                        class="list-complete-item"
                        :has-people="bar.hasPeople"
                        @has-people-btn-click="bar.hasPeople = !bar.hasPeople"
                    >
                    </time-count-bar>
                </transition-group>
            </draggable>
        </div>
        <div class="footer">
            <div>
                <p>
                    當前線數：{{lineCount}}
                    <button class="btn btn-secondary btn-sm" @click="addNewBar">新增</button>
                    <button class="btn btn-secondary btn-sm" @click="deleteSelectedBar">刪除</button>
                    
                    
                    <b-form-checkbox plain v-model="isDraggableLock">拖拉鎖定</b-form-checkbox>
                </p>
            </div>
            <button class="btn btn-secondary btn-sm" @click="exportToClipboard">複製所有界線時間</button>
            <button class="btn btn-secondary btn-sm" @click="exportToTxt">Export to txt</button>
            
            <label for="file-upload" class="custom-file-upload btn-secondary btn-sm">
                Import from txt
            </label>
            <input id="file-upload" @change="readTxtFile($event)" type="file" />

            <input v-model="remindIntervalMinutes" size="1" type="number">分鐘前聲音提醒
        </div>
        <audio id="myAudio">
            <source src="./sound/gem.ogg" type="audio/ogg"> Your browser does not support the audio element.
        </audio>
    </div>

    <style>
        .main {
            padding-bottom: 20%;
        }

        .footer {
            padding-top: 2%;
            padding-bottom: 2%;
            padding-left: 2%;
            position: fixed;
            left: 0;
            bottom: 0;
            background-color: rgb(240, 240, 240);
            width: 100%;
            border-top: 2px ridge;
        }

        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 1px solid;
            border-radius: 3px;
            display: inline-block;
            padding-top: 3px;
            padding-bottom: 6.5px;
            padding-left: 7px;
            padding-right: 7px;
            cursor: pointer;
        }

        .list-complete-item {
            padding: 1px;
            margin-top: 4px;
            border: solid 1px;
            transition: all 0.2s;
        }
        .list-complete-enter,
        .list-complete-leave-active {
            opacity: 0;
        }

        .flash {
            animation-name: flash;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }

        @keyframes flash {
            from {
                color: red;
                font-weight: bolder
            }
            to {
                color:black;
                font-weight: bolder
            }
        }

        @media (max-width: 690px) {
            body {
                background-color: lightblue;
            }

            .resp-block{
                display: block;
            }

            .main {
                padding-bottom: 140px;
            }
        }

        @media (max-width: 480px) {
            .main {
                padding-bottom: 200px;
            }
        }
    </style>

    <script>
    function formatDate(date) {
        if (typeof date.getHours === "undefined")
            return "";
        var hours = date.getHours();
        var minutes = date.getMinutes();
        return hours + ':' + minutes;
    }
    function copyToClipboard(text) {
        if(!text)
            return;
        var $temp = $("<textarea>");
        $temp.val(text);
        $("body").append($temp);
        $temp.select();
        document.execCommand("copy");
        $temp.remove();
        alert("已複製所有界線及再生時間");
    }
    function hasExtension(fileName, exts) {
        return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
    }

        Vue.component('time-count-bar', {
            props: {
                id: Number,
                line: String,
                deathTime: [Date,String],
                rebirthTime: [Date,String],
                hasPeople: Boolean,
                isFocus: Boolean,
                isHighlightRebirthTime: Boolean
            },
            template: `
        <div :class="{'bg-warning' : isFocus}">
            <span class="resp-block">
                界線：<input :value="line"
                            @input="lineInputHandler($event)" 
                            placeholder="ex:1a" 
                            maxlength="3" 
                            size="4">
            </span>
            <span class="resp-block">                        
                死亡時間：<input :value="deathTime"
                                @input="$emit('death-time-change', $event.target.value)" 
                                placeholder="{h}:{m}" 
                                maxlength="5" 
                                size="6">
                <button class="btn btn-primary btn-sm" @click="getNow()">Get Now</button>
            </span>
            <span class="resp-block">
                再生時間：<input :class="{'flash' : isHighlightRebirthTime}"
                        :value="fRebirthTime"
                        @input="$emit('rebirth-time-change', $event.target.value);"
                        placeholder="{h}:{m}" 
                        maxlength="5" 
                        size="6"> 
                <span :class="{'flash' : isHighlightRebirthTime}" v-if="line !== ''"> [{{line}}] </span> 
                <span>
                   <button  :class="['btn', hasPeopleStyle, 'btn-sm']"
                            @click="hasPeopleBtnHandler()">
                       {{hasPeopleText}}
                   </button>
                </span>
            </span>
        </div>
        `,
            data() {
                return {
                }
            },
            methods: {
                lineInputHandler(event){
                    this.$emit('line-change', event.target.value);
                },
                getNow() {
                    this.$emit('get-now-event');
                },
                hasPeopleBtnHandler(){
                    this.$emit('has-people-btn-click');
                }
            },
            computed: {
                fRebirthTime(){
                    return formatDate(this.rebirthTime);
                },
                hasPeopleStyle(){
                    return this.hasPeople ? 'btn-danger' : 'btn-success'
                },
                hasPeopleText(){
                    return this.hasPeople ? '有人' : '沒人'
                }
            }
        })

        var app = new Vue({
            created() {
                for (var i = 1; i <= this.initBarCount; i++) {
                    this.bars.push({ id: i, line:'', deathTime: '', rebirthTime: '', hasPeople: false });
                }
                $(document).on("keydown", this.disableF5);
                this.interval = setInterval(this.time, 5000);
            },
            el: '#app',
            data: {
                initBarCount: 10,
                bars: [],
                selectedBarId: 0,
                highlightRebirthTimeBarId: 0,
                datenow: '',
                canPlayAudio: true,
                remindIntervalMinutes: 2,
                draggableOptions:{disabled:true},
                isDraggableLock: true
            },
            methods: {
                barToString(bar){
                    let fRebirthTime = formatDate(bar.rebirthTime);
                    if (fRebirthTime) {
                        let hrMin = fRebirthTime.split(':');
                        let hrs = hrMin[0];
                        let mins = hrMin[1];
                        fRebirthTime = hrs.padStart(2, "0") + mins.padStart(2, "0");
                    }
                    let hasPeopleSign = bar.hasPeople ? '*' : '';

                    let barLine = bar.line;

                    return fRebirthTime && bar.line ? `${barLine}${hasPeopleSign} ${fRebirthTime}\r\n` : '';
                },
                readTxtFile(event){
                    const files = event.target.files;
                    let fileName = event.target.value;
                    if (!hasExtension(fileName, ['.txt'])) {
                        alert("必須為 txt 檔");
                        event.target.value = "";
                        return;
                    }
                    var reader = new FileReader();
                    var self = this;
                    reader.onload = (function(reader, self)
                    {
                        return function () {
                            var contents = reader.result;
                            var fileLines = contents.split('\r\n');
                            for (let index = 0; index < fileLines.length; index++) {
                                if (!self.bars[index]) {
                                    var newBarId = ++self.initBarCount;
                                    self.bars.push({ id: newBarId, line:'', deathTime: '', rebirthTime: '', hasPeople: false });
                                }
                                let lineData = fileLines[index];
                                lineData = lineData.replace(/\s\s+/g, ' ');

                                let ary = lineData.split(' ');
                                let line = ary[0];
                                let rebirthTime = ary[1];

                                if(line.includes('*') || rebirthTime.includes('*')){
                                    self.bars[index].hasPeople = true;
                                    line = line.replace('*', '');
                                }
                                
                                self.bars[index].line = line.toUpperCase();
                                self.rebirthTimeChangeHandler(self.bars[index], rebirthTime);
                            }
                        }
                    })(reader, self);
                    reader.readAsText(files[0]);
                },
                exportToTxt(){
                    let barsData = this.bars.map(this.barToString);
                    let blob = new Blob(barsData, {type: "text/plain;charset=utf-8"});
                    saveAs(blob, "Mandala Time.txt");
                },
                exportToClipboard(){
                    let barsDataArray = this.bars.map(this.barToString);
                    var text = "";
                    barsDataArray.forEach(barStr => text += barStr);
                    copyToClipboard(text);
                },
                time() {
                    var now = new Date();
                    this.datenow = now;
                },
                addNewBar() {
                    if (this.selectedBarIndex === -1) {
                        alert("Please select a bar");
                        return;
                    }
                    var newBarId = ++this.initBarCount;
                    this.bars.splice(this.selectedBarIndex + 1, 0, { id: newBarId, line:'', deathTime: '', rebirthTime: '', hasPeople: false });
                },
                deleteSelectedBar() {
                    if (this.selectedBarIndex === -1) {
                        return;
                    }
                    if (confirm('Are you sure you want to delete selected Bar?')) {
                        this.bars.splice(this.selectedBarIndex, 1);
                    }
                },
                disableF5(e) {
                    if ((e.which || e.keyCode) == 116) e.preventDefault();
                },
                deathTimeChangeHandler(bar, deathTime){
                    if (!deathTime.includes(":") && deathTime.length === 4) {
                        deathTime = deathTime.slice(0, 2) + ":" + deathTime.slice(2);
                    }
                    bar.deathTime = deathTime;
                    var hrMin =  deathTime.split(':');
                    var hrs =hrMin[0];
                    var mins = hrMin[1];
                    var date = new Date();
                    date.setHours(hrs);
                    date.setMinutes(mins);
                    bar.rebirthTime = this.add90Min(date);
                    this.highlightClosestRebirthTime();
                },
                rebirthTimeChangeHandler(bar, rebirthTime){
                    if(!rebirthTime)
                        return;
                    
                    if (!rebirthTime.includes(":") && rebirthTime.length === 4) {
                        
                        rebirthTime = rebirthTime.slice(0, 2) + ":" + rebirthTime.slice(2);
                    }
                    var hrMin =  rebirthTime.split(':');
                    if( hrMin[0] && hrMin[1] ){
                        var hrs =hrMin[0];
                        var mins = hrMin[1];
                        var date = new Date();
                        date.setHours(hrs);
                        date.setMinutes(mins);
                        if(this.getTimeDiffInMinutes(date, new Date()) < 0 ){
                            date = moment(date).add(1, 'd').toDate();
                        }
                        bar.rebirthTime = date;
                        bar.deathTime = formatDate(this.subtract90Min(date));
                    }
                    this.highlightClosestRebirthTime();
                },
                add90Min(deathTime) {
                    var newDateObj = moment(deathTime).add(90, 'm');
                    return newDateObj.toDate();
                },
                subtract90Min(rebirthTime){
                    var newDateObj = moment(rebirthTime).subtract(90, 'm');
                    return newDateObj.toDate();
                },
                getNowHandler(barId) {
                    var dateNow = new Date(); // for now
                    var theBar = this.bars.find(b => b.id === barId);
                    theBar.deathTime = formatDate(dateNow);
                    theBar.rebirthTime = this.add90Min(dateNow);
                    this.highlightClosestRebirthTime(barId);
                },
                highlightClosestRebirthTime(barId) {
                    var theClosestRebirthTimeBarId = 0;
                    var nowTime = new Date();
                    // alert("nowTime="+nowTime);
                    var minTotalMinutesDiff = 99999999;
                    var notIncludeSelfBars = this.bars.filter(b => b.id !== barId);
                    for (let i = 0; i < notIncludeSelfBars.length; i++) {
                        var rTime = new Date(notIncludeSelfBars[i].rebirthTime);
                        var difference = this.getTimeDiffInMinutes(rTime, nowTime);
                        // alert("difference = "+difference);
                        if (difference > 0 && difference < minTotalMinutesDiff) {
                            minTotalMinutesDiff = difference;
                            theClosestRebirthTimeBarId = notIncludeSelfBars[i].id;
                        }
                    }
                    this.highlightRebirthTimeBarId = theClosestRebirthTimeBarId;
                },
                playAudio() {
                    var x = document.getElementById("myAudio");
                    x.play();
                },
                getTimeDiffInMinutes(date1, date2) {
                    var diffMs = (date1.getTime() - date2.getTime());
                    var resultInMinutes = Math.round(diffMs / 60000);
                    return resultInMinutes;
                }
            },
            computed: {
                selectedBarIndex() {
                    return this.bars
                        .map(bar => bar.id)
                        .indexOf(this.selectedBarId);
                },
                lineCount(){
                    return this.bars.filter( bar => bar.rebirthTime !== '' && bar.line !== '').length;
                }
            },
            watch: {
                datenow(now) {
                    var self = this;
                    var theClosestTimeBar = self.bars.find(b => b.id === self.highlightRebirthTimeBarId);
                    if (!theClosestTimeBar)
                        return;
                    var theClosestRebirthTime = theClosestTimeBar.rebirthTime;
                    var difference = self.getTimeDiffInMinutes(new Date(theClosestRebirthTime), new Date(self.datenow));
                    if (difference > 0 && difference <= self.remindIntervalMinutes && self.canPlayAudio) {
                        // alert("BOSS!!");
                        self.playAudio();
                        self.canPlayAudio = false;
                    }

                },
                canPlayAudio(val) {
                    var self = this;
                    if (val == false) {
                        setTimeout(function () { self.canPlayAudio = true; }, self.remindIntervalMinutes * 60 * 1000);
                    }
                },
                isDraggableLock(val){
                    this.draggableOptions.disabled = val;
                }
            }
        })
    </script>
</body>

</html>