<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RO守護永恆 - 刷珍稀曼陀羅計時器</title>
    <script src="./library/vue.js"></script>
    <script src="./library/moment.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./node_modules/sortablejs/Sortable.min.js"></script>
    <script src="./node_modules/vuedraggable/dist/vuedraggable.js"></script>
</head>

<body>
    <div id="app" class="container-fluid">
        <draggable v-model="bars">
            <transition-group name="list-complete">
                <time-count-bar @result-time-change="updateBarResultTime" @get-now-event="highlightClosestResultTime(bar.id)" :is-focus="selectedBarId == bar.id"
                    @click.native="selectedBarId = bar.id" v-for="bar in bars" :key="bar.id" :id="bar.id" :is-highlight-result-time="highlightResultTimeBarId == bar.id"
                    class="list-complete-item">
                </time-count-bar>
            </transition-group>
        </draggable>
        <br>
        <button @click="addNewBar">Add Bar below the Selected</button>
        <button @click="deleteSelectedBar">Delete Selected Bar</button>
        <input v-model="remindIntervalMinutes" size="1" type="number">分鐘前聲音提醒
        <audio id="myAudio">
            <source src="./sound/gem.ogg" type="audio/ogg"> Your browser does not support the audio element.
        </audio>
    </div>

    <style>
        .list-complete-item {
            padding: 1px;
            margin-top: 4px;
            border: solid 1px;
            transition: all 0.2s;
        }

        .list-complete-enter,
        .list-complete-leave-active {
            opacity: 0;
        }

        .flash {
            animation-name: flash;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }

        @keyframes flash {
            from {
                color: red;
            }
            to {
                color: black;
            }
        }
    </style>

    <script>
        Vue.component('time-count-bar', {
            props: {
                id: Number,
                isFocus: Boolean,
                isHighlightResultTime: Boolean
            },
            template: `
        <div :class="{'bg-success' : isFocus}">
            界線：<input v-model="line" placeholder="ex:1a" maxlength="3" size="2">
            死亡時間： <input v-model="inputTime" placeholder="{h}:{m}" maxlength="5" size="5">
            <button @click="getNow()">Get Now</button>
            再生時間：
            <div style="display:inline" 
                 :class="{'text-danger' : isHighlightResultTime, 'flash' : isHighlightResultTime}">
                 {{resultTime}} [{{line}}] 
            </div>
            <button @click="updateInputTime">再生時間→死亡時間</button>
            備份死亡時間：{{backUpInputTime}}
        </div>
        `,
            data() {
                return {
                    inputTime: '',
                    line: '',
                    backUpInputTime: ''
                }
            },
            methods: {
                add90Min(inputTime) {
                    var hrMinArray = inputTime.split(":");
                    var hour = hrMinArray[0];
                    var minute = hrMinArray[1];
                    var d = new Date();
                    d.setHours(hour);
                    d.setMinutes(minute);
                    var newDateObj = moment(d).add(90, 'm');
                    return newDateObj.toDate();
                },
                formatDate(date) {
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    return hours + ':' + minutes;
                },
                updateInputTime() {
                    this.inputTime = this.resultTime;
                },
                getNow() {
                    var date = new Date(); // for now
                    var fDate = this.formatDate(date);
                    this.backUpInputTime = this.inputTime;
                    this.inputTime = fDate;
                    this.$emit('get-now-event');
                }
            },
            computed: {
                resultTime() {
                    var rTime = this.add90Min(this.inputTime);
                    this.$emit('result-time-change', this.id, rTime);
                    return this.formatDate(rTime);
                }
            }
        })

        var app = new Vue({
            created() {
                for (var i = 1; i <= this.initBarCount; i++) {
                    this.bars.push({ id: i, resultTime: {} });
                }
                $(document).on("keydown", this.disableF5);
                this.interval = setInterval(this.time, 5000);
            },
            el: '#app',
            data: {
                bars: [],
                selectedBarId: 0,
                initBarCount: 15,
                highlightResultTimeBarId: 0,
                datenow: '',
                canPlayAudio: true,
                remindIntervalMinutes: 3
            },
            methods: {
                time() {
                    var now = new Date();
                    this.datenow = now;
                },
                addNewBar() {
                    if (this.selectedBarIndex === -1) {
                        alert("Please select a bar");
                        return;
                    }
                    var newBarId = ++this.initBarCount;
                    this.bars.splice(this.selectedBarIndex + 1, 0, { id: newBarId });
                },
                deleteSelectedBar() {
                    if (this.selectedBarIndex === -1) {
                        return;
                    }
                    if (confirm('Are you sure you want to delete selected Bar?')) {
                        this.bars.splice(this.selectedBarIndex, 1);
                    }
                },
                disableF5(e) {
                    if ((e.which || e.keyCode) == 116) e.preventDefault();
                },
                highlightClosestResultTime(barId) {
                    var theClosestResultTimeBarId = 0;
                    var nowTime = new Date();
                    // alert("nowTime="+nowTime);
                    var minTotalMinutesDiff = 99999999;
                    var notIncludeSelfBars = this.bars.filter(b => b.id !== barId);
                    for (let i = 0; i < notIncludeSelfBars.length; i++) {
                        var rTime = new Date(notIncludeSelfBars[i].resultTime);
                        var difference = this.getTimeDiffInMinutes(rTime, nowTime);
                        // alert("difference = "+difference);
                        if (difference > 0 && difference < minTotalMinutesDiff) {
                            minTotalMinutesDiff = difference;
                            theClosestResultTimeBarId = notIncludeSelfBars[i].id;
                        }
                    }
                    this.highlightResultTimeBarId = theClosestResultTimeBarId;
                },
                updateBarResultTime(id, rTime) {
                    var theBar = this.bars.find(b => b.id === id);
                    theBar.resultTime = rTime;
                },
                playAudio() {
                    var x = document.getElementById("myAudio");
                    x.play();
                },
                getTimeDiffInMinutes(date1, date2) {
                    var diffMs = (date1.getTime() - date2.getTime()); // milliseconds between now & Christmas
                    var resultInMinutes = Math.round(diffMs / 60000);
                    return resultInMinutes;
                }
            },
            computed: {
                selectedBarIndex() {
                    return this.bars
                        .map(bar => bar.id)
                        .indexOf(this.selectedBarId);
                }
            },
            watch: {
                datenow(now) {
                    var self = this;
                    var theClosestTimeBar = self.bars.find(b => b.id === self.highlightResultTimeBarId);
                    if (!theClosestTimeBar)
                        return;
                    var theClosestResultTime = theClosestTimeBar.resultTime;
                    var difference = self.getTimeDiffInMinutes(new Date(theClosestResultTime), new Date(self.datenow));
                    if (difference > 0 && difference <= self.remindIntervalMinutes && self.canPlayAudio) {
                        // alert("BOSS!!");
                        self.playAudio();
                        self.canPlayAudio = false;
                    }

                },
                canPlayAudio(val) {
                    var self = this;
                    if (val == false) {
                        setTimeout(function () { self.canPlayAudio = true; }, self.remindIntervalMinutes * 60 * 1000);
                    }
                }
            }
        })
    </script>
</body>

</html>