<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RO守護永恆 - 刷珍稀曼陀羅計時器</title>
    <script src="./library/vue.js"></script>
    <script src="./library/moment.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="app" class="container-fluid">
        <time-count-bar @result-time-change="updateBarResultTime" @get-now-event="highlightClosestResultTime(bar.id)" :is-focus="selectedBarId == bar.id" @click.native="selectedBarId = bar.id"
            v-for="bar in bars" :key="bar.id" :id="bar.id" :is-highlight-result-time="highlightResultTimeBarId == bar.id">
        </time-count-bar>
        <br>
        <button @click="addNewBar">Add Bar below the Selected</button>
        <button @click="deleteSelectedBar">Delete Selected Bar</button>
    </div>

    <script>
        Vue.component('time-count-bar', {
            props: {
                id: Number,
                isFocus: Boolean,
                isHighlightResultTime: Boolean
            },
            template: `
        <div :class="{'bg-success' : isFocus}">
            界線：<input v-model="line" placeholder="ex:1a" maxlength="3" size="2">
            死亡時間： <input v-model="inputTime" placeholder="{h}:{m}" maxlength="5" size="5">
            <button @click="getNow()">Get Now</button>
            再生時間：<div style="display:inline" :class="{'text-danger' : isHighlightResultTime}">{{resultTime}} [{{line}}] </div>
            <button @click="updateInputTime">再生時間→死亡時間</button>
            備份死亡時間：{{backUpInputTime}}
        </div>
        `,
            data() {
                return {
                    inputTime: '',
                    line: '',
                    backUpInputTime: ''
                }
            },
            methods: {
                add90Min(inputTime) {
                    var hrMinArray = inputTime.split(":");
                    var hour = hrMinArray[0];
                    var minute = hrMinArray[1];
                    var d = new Date(2017, 11, 19, hour, minute);
                    var newDateObj = moment(d).add(90, 'm');
                    return this.formatDate(newDateObj.toDate());
                },
                formatDate(date) {
                    var hours = date.getHours();
                    var minutes = date.getMinutes();
                    if (hours > 12) {
                        hours = hours - 12;
                    }
                    return hours + ':' + minutes;
                },
                updateInputTime() {
                    this.inputTime = this.resultTime;
                },
                getNow() {
                    var date = new Date(); // for now
                    var fDate = this.formatDate(date);
                    this.backUpInputTime = this.inputTime;
                    this.inputTime = fDate;
                    this.$emit('get-now-event');
                }
            },
            computed: {
                resultTime() {
                    var rTime = this.add90Min(this.inputTime);
                    this.$emit('result-time-change', this.id, rTime);
                    return rTime;
                }
            }
        })

        var app = new Vue({
            created() {
                for (var i = 1; i <= this.initBarCount; i++) {
                    this.bars.push({ id: i , resultTime:''});
                }
                $(document).on("keydown", this.disableF5);
            },
            el: '#app',
            data: {
                bars: [],
                selectedBarId: 0,
                initBarCount: 5,
                highlightResultTimeBarId: 0
            },
            methods: {
                addNewBar() {
                    if (this.selectedBarIndex === -1) {
                        alert("Please select a bar");
                        return;
                    }
                    var newBarId = ++this.initBarCount;
                    this.bars.splice(this.selectedBarIndex + 1, 0, { id: newBarId });
                },
                deleteSelectedBar() {
                    if (this.selectedBarIndex === -1) {
                        return;
                    }
                    if (confirm('Are you sure you want to delete selected Bar?')) {
                        this.bars.splice(this.selectedBarIndex, 1);
                    }
                },
                disableF5(e) {
                    if ((e.which || e.keyCode) == 116) e.preventDefault();
                },
                highlightClosestResultTime(barId) {
                    var theClosestResultTimeBarId = 0;
                    var nowTime = new Date();
                    var nowHour = nowTime.getHours();
                    var nowMinute = nowTime.getMinutes();
                    var totalNowMinutes = nowHour*60 + nowMinute;
                    // alert('totalNowMinutes = '+totalNowMinutes);
                    var minTotalMinutesDiff = 99999999;
                    var notIncludeSelfBars = this.bars.filter(b => b.id !== barId);
                    for (let i = 0; i < notIncludeSelfBars.length; i++) {
                        var hrMinArray = notIncludeSelfBars[i].resultTime.split(":");
                        var hour = parseInt(hrMinArray[0]);
                        var minute = parseInt(hrMinArray[1]);
                        var totalBarResultTimeMinutes = hour*60 + minute;
                        // alert('totalBarResultTimeMinutes = '+totalBarResultTimeMinutes);
                        var difference = totalBarResultTimeMinutes - totalNowMinutes;
                        // alert("difference = "+difference);
                        if( difference>0 && difference < minTotalMinutesDiff)
                        {
                            minTotalMinutesDiff = difference;
                            theClosestResultTimeBarId = notIncludeSelfBars[i].id;
                        }
                    }
                    this.highlightResultTimeBarId = theClosestResultTimeBarId;
                },
                updateBarResultTime(id, rTime){
                    var theBar = this.bars.find(b => b.id === id);
                    theBar.resultTime = rTime;
                }
            },
            computed: {
                selectedBarIndex() {
                    return this.bars
                        .map(bar => bar.id)
                        .indexOf(this.selectedBarId);
                }
            }
        })
    </script>
</body>

</html>