<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RO守護永恆 - 刷珍稀曼陀羅計時器</title>
    <script src="./library/vue.js"></script>
    <script src="./library/moment.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./node_modules/sortablejs/Sortable.min.js"></script>
    <script src="./node_modules/vuedraggable/dist/vuedraggable.js"></script>
    <script src="./node_modules/file-saver/FileSaver.min.js"></script>
</head>

<body>
    <div id="app" class="container-fluid">
        <draggable v-model="bars" :options="draggableOptions">
            <transition-group name="list-complete">
                <time-count-bar
                    v-for="bar in bars"
                    @get-now-event="getNowHandler(bar.id)" 
                    @input-mouseover="inputMouseOverHandler()"
                    @input-mouseout="inputMouseOutHandler()"
                    @click.native="selectedBarId = bar.id" 
                    :is-focus="selectedBarId == bar.id"
                    :key="bar.id" 
                    :id="bar.id"
                    :line="bar.line"
                    @line-change="(line) => { bar.line = line }"
                    :death-time="bar.deathTime"
                    @death-time-change="(deathTime) => { deathTimeChangeHandler(bar, deathTime) }"
                    :rebirth-time="bar.rebirthTime"
                    @rebirth-time-change="(rebirthTime) => { rebirthTimeChangeHandler(bar, rebirthTime) }"
                    :is-highlight-rebirth-time="highlightRebirthTimeBarId == bar.id"
                    class="list-complete-item"
                >
                </time-count-bar>
            </transition-group>
        </draggable>
        <br>
        <div>
            <p>
                當前線數：{{lineCount}}
                <button @click="exportToTxt">Export to txt</button>
            </p>
            
        </div>
        <button @click="addNewBar">Add Bar below the Selected</button>
        <button @click="deleteSelectedBar">Delete Selected Bar</button>
        <input v-model="remindIntervalMinutes" size="1" type="number">分鐘前聲音提醒
        <audio id="myAudio">
            <source src="./sound/gem.ogg" type="audio/ogg"> Your browser does not support the audio element.
        </audio>
    </div>

    <style>
        .grab {cursor: -webkit-grab; cursor: grab;}
        .grab:active,
        .grab:active:before,
        .grab:active:after {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
        }

        .list-complete-item {
            padding: 1px;
            margin-top: 4px;
            border: solid 1px;
            transition: all 0.2s;
        }
        .list-complete-enter,
        .list-complete-leave-active {
            opacity: 0;
        }

        .flash {
            animation-name: flash;
            animation-duration: 0.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-play-state: running;
        }

        @keyframes flash {
            from {
                color: red;
            }
            to {
                color: black;
            }
        }
    </style>

    <script>
    function formatDate(date) {
        if (typeof date.getHours === "undefined")
            return "";
        var hours = date.getHours();
        var minutes = date.getMinutes();
        return hours + ':' + minutes;
    }

        Vue.component('time-count-bar', {
            props: {
                id: Number,
                line: String,
                deathTime: [Date,String],
                rebirthTime: [Date,String],
                isFocus: Boolean,
                isHighlightRebirthTime: Boolean
            },
            template: `
        <div :class="{'bg-success' : isFocus, 'grab' : true}">
            界線：<input :value="line"
                        @input="$emit('line-change', $event.target.value)" 
                        placeholder="ex:1a" 
                        maxlength="3" 
                        size="4"
                        @mouseover="$emit('input-mouseover')"
                        @mouseout="$emit('input-mouseout')">
            死亡時間： <input :value="deathTime"
                             @input="$emit('death-time-change', $event.target.value)" 
                             placeholder="{h}:{m}" 
                             maxlength="5" 
                             size="6"
                             @mouseover="$emit('input-mouseover')"
                             @mouseout="$emit('input-mouseout')">
            <button @click="getNow()">Get Now</button>
            再生時間：
            <div style="display:inline" 
                 :class="{'text-danger' : isHighlightRebirthTime, 'flash' : isHighlightRebirthTime}">
                 <input :value="fRebirthTime"
                        @input="$emit('rebirth-time-change', $event.target.value);"
                        placeholder="{h}:{m}" 
                        maxlength="5" 
                        size="6"
                        @mouseover="$emit('input-mouseover')"
                        @mouseout="$emit('input-mouseout')"> 
                 <span v-if="line !== ''"> [{{line}}] </span> 
                 <span>
                    <button @click="hasPeopleBtnHandler()" 
                            :class="['btn', hasPeopleStyle, 'btn-xs']">
                        {{hasPeopleText}}
                    </button>
                 </span>
            </div>
        </div>
        `,
            data() {
                return {
                    hasPeople : false
                }
            },
            methods: {
                getNow() {
                    this.$emit('get-now-event');
                },
                hasPeopleBtnHandler(){
                    this.hasPeople = !this.hasPeople;
                }
            },
            computed: {
                fRebirthTime(){
                    return formatDate(this.rebirthTime);
                },
                hasPeopleStyle(){
                    return this.hasPeople ? 'btn-danger' : 'btn-success'
                },
                hasPeopleText(){
                    return this.hasPeople ? '有人' : '沒人'
                }
            }
        })

        var app = new Vue({
            created() {
                for (var i = 1; i <= this.initBarCount; i++) {
                    this.bars.push({ id: i, line:'', deathTime: '', rebirthTime: '' });
                }
                $(document).on("keydown", this.disableF5);
                this.interval = setInterval(this.time, 5000);
            },
            el: '#app',
            data: {
                initBarCount: 10,
                bars: [],
                selectedBarId: 0,
                highlightRebirthTimeBarId: 0,
                datenow: '',
                canPlayAudio: true,
                remindIntervalMinutes: 3,
                draggableOptions:{disabled:false}
            },
            methods: {
                exportToTxt(){
                    let barsData = this.bars.map(bar => {
                        let fRebirthTime = formatDate(bar.rebirthTime);
                        return fRebirthTime && bar.line ? `\r\n${fRebirthTime} [${bar.line}]` : '';
                    });
                    let blob = new Blob(barsData, {type: "text/plain;charset=utf-8"});
                    saveAs(blob, "Mandala Time.txt");
                },
                time() {
                    var now = new Date();
                    this.datenow = now;
                },
                addNewBar() {
                    if (this.selectedBarIndex === -1) {
                        alert("Please select a bar");
                        return;
                    }
                    var newBarId = ++this.initBarCount;
                    this.bars.splice(this.selectedBarIndex + 1, 0, { id: newBarId, deathTime: '', rebirthTime: '' });
                },
                deleteSelectedBar() {
                    if (this.selectedBarIndex === -1) {
                        return;
                    }
                    if (confirm('Are you sure you want to delete selected Bar?')) {
                        this.bars.splice(this.selectedBarIndex, 1);
                    }
                },
                disableF5(e) {
                    if ((e.which || e.keyCode) == 116) e.preventDefault();
                },
                deathTimeChangeHandler(bar, deathTime){
                    bar.deathTime = deathTime;
                    var hrMin =  deathTime.split(':');
                    var hrs =hrMin[0];
                    var mins = hrMin[1];
                    var date = new Date();
                    date.setHours(hrs);
                    date.setMinutes(mins);
                    bar.rebirthTime = this.add90Min(date);
                    this.highlightClosestRebirthTime();
                },
                rebirthTimeChangeHandler(bar, rebirthTime){
                    if(!rebirthTime)
                        return;
                    var hrMin =  rebirthTime.split(':');
                    if( hrMin[0] && hrMin[1] ){
                        var hrs =hrMin[0];
                        var mins = hrMin[1];
                        var date = new Date();
                        date.setHours(hrs);
                        date.setMinutes(mins);
                        bar.rebirthTime = date;
                        bar.deathTime = formatDate(this.subtract90Min(date));
                    }
                    this.highlightClosestRebirthTime();
                },
                add90Min(deathTime) {
                    var newDateObj = moment(deathTime).add(90, 'm');
                    return newDateObj.toDate();
                },
                subtract90Min(rebirthTime){
                    var newDateObj = moment(rebirthTime).subtract(90, 'm');
                    return newDateObj.toDate();
                },
                getNowHandler(barId) {
                    var dateNow = new Date(); // for now
                    var theBar = this.bars.find(b => b.id === barId);
                    theBar.deathTime = formatDate(dateNow);
                    theBar.rebirthTime = this.add90Min(dateNow);
                    this.highlightClosestRebirthTime(barId);
                },
                inputMouseOverHandler(){
                    this.draggableOptions.disabled = true;
                },
                inputMouseOutHandler(){
                    this.draggableOptions.disabled = false;
                }
                ,
                highlightClosestRebirthTime(barId) {
                    var theClosestRebirthTimeBarId = 0;
                    var nowTime = new Date();
                    // alert("nowTime="+nowTime);
                    var minTotalMinutesDiff = 99999999;
                    var notIncludeSelfBars = this.bars.filter(b => b.id !== barId);
                    for (let i = 0; i < notIncludeSelfBars.length; i++) {
                        var rTime = new Date(notIncludeSelfBars[i].rebirthTime);
                        var difference = this.getTimeDiffInMinutes(rTime, nowTime);
                        // alert("difference = "+difference);
                        if (difference > 0 && difference < minTotalMinutesDiff) {
                            minTotalMinutesDiff = difference;
                            theClosestRebirthTimeBarId = notIncludeSelfBars[i].id;
                        }
                    }
                    this.highlightRebirthTimeBarId = theClosestRebirthTimeBarId;
                },
                playAudio() {
                    var x = document.getElementById("myAudio");
                    x.play();
                },
                getTimeDiffInMinutes(date1, date2) {
                    var diffMs = (date1.getTime() - date2.getTime());
                    var resultInMinutes = Math.round(diffMs / 60000);
                    return resultInMinutes;
                }
            },
            computed: {
                selectedBarIndex() {
                    return this.bars
                        .map(bar => bar.id)
                        .indexOf(this.selectedBarId);
                },
                lineCount(){
                    return this.bars.filter( bar => bar.rebirthTime !== '').length;
                }
            },
            watch: {
                datenow(now) {
                    var self = this;
                    var theClosestTimeBar = self.bars.find(b => b.id === self.highlightRebirthTimeBarId);
                    if (!theClosestTimeBar)
                        return;
                    var theClosestRebirthTime = theClosestTimeBar.rebirthTime;
                    var difference = self.getTimeDiffInMinutes(new Date(theClosestRebirthTime), new Date(self.datenow));
                    if (difference > 0 && difference <= self.remindIntervalMinutes && self.canPlayAudio) {
                        // alert("BOSS!!");
                        self.playAudio();
                        self.canPlayAudio = false;
                    }

                },
                canPlayAudio(val) {
                    var self = this;
                    if (val == false) {
                        setTimeout(function () { self.canPlayAudio = true; }, self.remindIntervalMinutes * 60 * 1000);
                    }
                }
            }
        })
    </script>
</body>

</html>